@import "tailwindcss";
@import "tw-animate-css";
/* @plugin "@tailwindcss/typography"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-inter:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-tajawal:
    var(--font-tajawal), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: color-mix(in srgb, var(--primary) 50%, transparent);
  --color-accent-foreground: var(--primary-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-primary);
  --color-sidebar-accent-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) * 0.75);
  --radius-sm: calc(var(--radius) * 0.33);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-collapsible-right: collapsible-right 0.2s ease-out;
  --animate-collapsible-left: collapsible-left 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes collapsible-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes collapsible-right {
    from {
      width: 0;
    }

    to {
      width: var(--radix-collapsible-content-width);
    }
  }

  @keyframes collapsible-left {
    from {
      width: var(--radix-collapsible-content-width);
    }

    to {
      width: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 16450px;
  }
}

@utility no-scrollbar {

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;

    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }

  ::selection {
    @apply bg-primary/50 text-primary-foreground;
  }
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --success: #16a34a;
  --success-foreground: #fafafa;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #09090b;
  --radius: 0.5rem;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #e23670;
  --sidebar-background: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  /* Calendar vars */
  --fc-small-font-size: 0.875em;
  --fc-page-bg-color: var(--border);
  --fc-neutral-bg-color: var(--border);
  --fc-neutral-text-color: var(--accent-foreground);
  --fc-border-color: var(--border);
  --fc-button-text-color: var(--background);
  --fc-button-bg-color: var(--primary);
  --fc-button-border-color: var(--primary);
  --fc-button-hover-bg-color: color-mix(in srgb, var(--primary) 80%, transparent);
  --fc-button-hover-border-color: var(--primary);
  --fc-button-active-bg-color: color-mix(in srgb, var(--primary) 80%, transparent);
  --fc-button-active-border-color: color-mix(in srgb, var(--primary) 0%, transparent);
  --fc-event-bg-color: var(--primary);
  --fc-event-border-color: var(--primary);
  --fc-event-text-color: var(--background);
  --fc-event-selected-overlay-color: var(--muted);
  --fc-more-link-bg-color: var(--muted);
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: var(--radius);
  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: var(--success);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: color-mix(in srgb, var(--primary) 15%, transparent);
  --fc-now-indicator-color: var(--destructive);
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #a50e0e;
  --destructive-foreground: #fafafa;
  --success: #15803d;
  --success-foreground: #fafafa;
  --border: #27272a;
  --input: #27272a;
  --ring: #d4d4d8;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #e23670;
}

aside.EmojiPickerReact {
  /* Emoji Picker vars */
  --epr-emoji-size: 2rem;
  --epr-emoji-padding: 0.25rem;
  --epr-emoji-gap: 0.5rem;
  --epr-hover-bg-color: var(--accent);
  --epr-focus-bg-color: var(--accent);
  --epr-bg-color: var(--background);
  --epr-reactions-bg-color: var(--background);
  --epr-highlight-color: var(--primary);
  --epr-category-icon-active-color: var(--primary);
  --epr-category-label-bg-color: var(--background);
  --epr-text-color: var(--foreground);
  --epr-horizontal-padding: 0.75rem;
  --epr-search-input-bg-color: var(--muted);
  --epr-search-input-border-radius: var(--radius);
  --epr-search-input-padding: 0 40px;
  --epr-preview-text-size: 0.875rem;
  --epr-header-padding: var(--epr-horizontal-padding) var(--epr-horizontal-padding);
  --epr-picker-border-radius: var(--radius);
  --epr-picker-border-color: var(--border);
  --epr-skin-tone-outer-border-color: var(--border);
}

.EmojiPickerReact .epr-btn {
  border-radius: var(--radius);
}

.EmojiPickerReact .epr-btn:focus::before {
  border-radius: var(--radius);
  border-width: 1px;
}